body {
    background: linear-gradient(45deg, rgb(67, 144, 233), rgb(215, 112, 231));
}
.main{
    width: 600px;
    height: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: white;
}

.clock {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 25px 25px 20px rgb(54, 52, 52);
}

.clock span{
    font-size: 70px;
    width: 125px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 10px;
    position: absolute;
    bottom: 1px;
    left: 80%;
    transform: translatex(-50px);
}

#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SECS';
}